# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
.venv/
.venv-win/
.venv-*/
venv/

# Django
*.sqlite3
db.sqlite3
staticfiles/
media/

# Test
.pytest_cache/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
